.auth-container {
  border-radius: var(--radius);
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: solid 1px var(--border);
  padding: 0.4rem 0.8rem;
  user-select: none;
  display: flex;
  position: relative;
  background-color: var(--background);
  color: var(--foreground);

  width: 100%;

  align-items: center;
  justify-content: center;
}

.auth-container:hover {
  background-color: var(--secondary);
  cursor: pointer;
}
