<main class="main-layout">
  <app-side-bar-component #sidebar></app-side-bar-component>
  <div
    class="router-flex"
    [ngStyle]="{
      'margin-left': (isCollapsed$ | async) ? '0px' : sidebar.width + 'px',
      transition: 'margin-left 0.3s ease'
    }"
  >
    <router-outlet></router-outlet>
    <button class="sidebar-open" (click)="sidebarService.toggle()">
      @if (isCollapsed$ | async) {
      <app-icon-button
        [icon]="ChevronRight"
        tooltipTitle="Open sidebar"
        tooltipSubTitle="Ctrl+\"
        tooltipPosition="right"
      ></app-icon-button>
      }
    </button>
  </div>
</main>
