.main-layout {
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-image: radial-gradient(circle, var(--accent) 2px, transparent 2px);
  background-color: var(--background);
  background-size: 20px 20px;
}

.router-flex {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  margin-left: 20rem;
}

.sidebar-open {
  position: fixed;
  left: 0.5rem;
  top: 0.5rem;
}
