.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card {
  max-width: 30rem !important;
}

@media (max-width: 420px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
