<div class="container">
  <form class="card" [formGroup]="loginForm">
    <div class="header">
      <h3>Login to your account</h3>
      <p>Enter your email below to login to your account</p>
    </div>
    <app-auth-provider-block></app-auth-provider-block>
    <app-divider></app-divider>
    <app-input-component
      formControlName="username"
      placeholder="Username"
      labelText="Username"
    ></app-input-component>
    @if (username.invalid && username.touched) { @if
    (username.errors?.['required']) {
    <p class="form-error">Username is required</p>
    } }
    <app-input-component
      formControlName="password"
      placeholder="Password"
      labelText="Password"
      [passwordSwitch]="true"
    ></app-input-component>
    @if (password.invalid && password.touched) { @if
    (password.errors?.['required']) {
    <p class="form-error">Password is required</p>
    } }
    <app-custom-button
      [loading]="(loginLoading$ | async) ?? false"
      (click)="handleLogin($event)"
      >Login</app-custom-button
    >
    <div class="bottom-prompt">
      <p>Don't have an account?</p>
      <a routerLink="/register">Sign up</a>
    </div>
  </form>
</div>
