<div class="container">
  <form class="card" [formGroup]="loginForm">
    <app-auth-provider-block></app-auth-provider-block>
    <app-divider></app-divider>
    <app-input-component
      formControlName="username"
      placeholder="Username"
      labelText="Username"
    ></app-input-component>
    @if (username.invalid && username.touched) { @if
    (username.errors?.['required']) {
    <p class="form-error">Email is required</p>
    } }
    <app-input-component
      formControlName="password"
      placeholder="Password"
      labelText="Password"
      [passwordSwitch]="true"
    ></app-input-component>
    @if (password.invalid && password.touched) { @if
    (password.errors?.['required']) {
    <p class="form-error">Password is required</p>
    } }
    <app-custom-button
      [loading]="(loginLoading$ | async) ?? false"
      (click)="handleLogin($event)"
      >Login</app-custom-button
    >
  </form>
</div>
