.container {
  padding-top: 3.5rem; /* Adjust for fixed navbar height */
  height: 100vh;
  width: 100vw;
  color: var(--foreground);
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card {
  max-width: 22rem;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 500;
}
